/* Overall app styling */
.App {
  font-family: Arial, sans-serif;
  /* text-align: center; */
  padding: 20px; /* Add padding to the app */
  background-color: #f5f5f5;
}

.logo{
  border-radius: 50%;
  height: 80px;
}

.logCon{
  font-size: 20px;
  font-weight: bold;
}
.navBar{
  display: flex;
  justify-content:space-between;
}

.dateTimeText {
  font-size: 18px;
  font-weight: bold;
  color: #bc2c2c;
}

/* Container styling for weather cards */
.container {
  background-image: url('image/two.jpeg');
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

/* Input field styling */
input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Button styling */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Styling for weather information section */
.weatherInfo {
  margin-top: 20px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for individual cards */
.card {
  border: 1px solid #ddd;
  padding: 20px;
  max-width: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Styling for spacing between buttons */
.button-spacing {
  margin: 10px; /* Adjust this value to set the desired spacing */
}

/* Styling for the forecast container */
.cardContainer {
  margin-top: 30px;
}

/* Styling for the search bar */
.searchBar {
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Styling for the search input field */
.search-input {
  width: auto;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Styling for the search button */
.search-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* Hover effect for search button */
.search-button:hover {
  background-color: #0056b3;
}

/* Media query for responsiveness */
@media (max-width: 600px) {
  .searchBar {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .search-input,
  .search-button {
    width: 100%;
    margin-bottom: 5px;
  }
}

/* Styling for the forecast container */
.forecast-container {
  margin-top: 40px;
  text-align: center;
}

/* Styling for the forecast title */
.forecast-title {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Styling for the forecast cards */
.forecast-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
